@model IEnumerable<Library.Models.Penalty>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PenaltyAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PenaltyDate)
            </th>
           @*  <th>
                @Html.DisplayNameFor(model => model.Member)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.Checkout)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PenaltyAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PenaltyDate)
            </td>
           @*  <td>
                @Html.DisplayFor(modelItem => item.Member.Email)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.Checkout.CheckoutId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PenaltyId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PenaltyId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PenaltyId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
