@model Library.Models.Member

@{
    ViewData["Title"] = "Details";
    var userRole = ViewBag.UserRole;
    var memberId = ViewBag.MemberId; 
}

<div>
    <h4>Member</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MemberName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MemberName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MembershipDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MembershipDate.ToShortDateString())
        </dd>
    </dl>
</div>

<div>
    @if (ViewBag.UserRole == "Host" ||
    (ViewBag.UserRole == "Member" && ViewBag.MemberId.HasValue && Model.MemberId == ViewBag.MemberId.Value))
    {
        <a asp-action="Edit" asp-route-id="@Model?.MemberId">Edit</a>
 
    }
    <a asp-action="Index">Back to List</a>
</div>
};
